<div class="row mt-5">
  <div class="col-md-8">
    <select class="custom-select">
      <option selected>類別</option>
      <option value="1">家居物業</option>
      <option value="2">交通出行</option>
      <option value="3">休閒娛樂</option>
      <option value="4">餐飲娛樂</option>
      <option value="5">其他</option>
    </select>
  </div>
</div>

<div class="row mt-5 ">
  <div class="col-md-4 ">
    <div class="h3">總金額</div>
  </div>
  <div class="col-md-4 ">
    <div class="h2 text-danger">25260</div>
  </div>
</div>

<div class="row mt-3 border-bottom">
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;"><i
      class="fas fa-utensils"></i></div>
  <div class="col-md-6">
    <div>午餐</div>
    <div>2019/04/23</div>
  </div>
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">60</div>
  <div class="col-md-2  text-center align-items-center"
    style="display: flex; align-items: center; justify-content: center;">
    <a href="/edit" class="btn btn-info" id="">修改</a>
  </div>
  <div class="col-md-2 text-center" style="display: flex; align-items: center; justify-content: center;">
    <form action="/delete" method="POST">
      <button class="btn btn-danger" type="submit"
        style="display: flex; align-items: center; justify-content: center;">刪除</button>
    </form>

  </div>

</div>
<div class="row mt-3 border-bottom">
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;"><i
      class="fas fa-utensils"></i></div>
  <div class="col-md-6">
    <div>晚餐</div>
    <div>2019/04/23</div>
  </div>
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">60</div>
  <div class="col-md-2  text-center align-items-center"
    style="display: flex; align-items: center; justify-content: center;">
    <a href="/edit" class="btn btn-info" id="">修改</a>
  </div>
  <div class="col-md-2 text-center" style="display: flex; align-items: center; justify-content: center;">
    <form action="/delete" method="POST">
      <button class="btn btn-danger" type="submit"
        style="display: flex; align-items: center; justify-content: center;">刪除</button>
    </form>

  </div>

</div>

<div class="row mt-3 border-bottom">
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;"><i
      class="fas fa-shuttle-van"></i></div>
  <div class="col-md-6">
    <div>捷運</div>
    <div>2019/04/23</div>
  </div>
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">120</div>
  <div class="col-md-2  text-center align-items-center"
    style="display: flex; align-items: center; justify-content: center;">
    <a href="/edit" class="btn btn-info" id="">修改</a>
  </div>
  <div class="col-md-2 text-center" style="display: flex; align-items: center; justify-content: center;">
    <form action="/delete" method="POST">
      <button class="btn btn-danger" type="submit"
        style="display: flex; align-items: center; justify-content: center;">刪除</button>
    </form>

  </div>

</div>

<div class="row mt-3 border-bottom">
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;"><i
      class="fas fa-grin-beam"></i></div>
  <div class="col-md-6">
    <div>電影: 驚奇隊長</div>
    <div>2019/04/23</div>
  </div>
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">220</div>
  <div class="col-md-2  text-center align-items-center"
    style="display: flex; align-items: center; justify-content: center;">
    <a href="/edit" class="btn btn-info" id="">修改</a>
  </div>
  <div class="col-md-2 text-center" style="display: flex; align-items: center; justify-content: center;">
    <form action="/delete" method="POST">
      <button class="btn btn-danger" type="submit"
        style="display: flex; align-items: center; justify-content: center;">刪除</button>
    </form>

  </div>

</div>

<div class="row mt-3 border-bottom">
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;"><i class="fas fa-home"></i>
  </div>
  <div class="col-md-6">
    <div>租金</div>
    <div>2019/04/01</div>
  </div>
  <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">25000</div>
  <div class="col-md-2  text-center align-items-center"
    style="display: flex; align-items: center; justify-content: center;">
    <a href="/edit" class="btn btn-info" id="">修改</a>
  </div>
  <div class="col-md-2 text-center" style="display: flex; align-items: center; justify-content: center;">
    <form action="/delete" method="POST">
      <button class="btn btn-danger" type="submit"
        style="display: flex; align-items: center; justify-content: center;">刪除</button>
    </form>

  </div>

</div>


<div class="row mt-5">
  <div class="col-md-8 text-center">
    <a href="/new" class="btn btn-secondary">新增支出</a>
  </div>
</div>